@import "nullstyle";
@import "fonts";
$bp-320-max: 320px;
$bp-375-max: 375px;
$bp-425-max: 425px;
$bp-768-max: 768px;
$bp-1024-max: 1024px;
$bp-1200-max: 1199.98px;

body {
	height: 100%;
	font-family: $roboto;
	font-weight: 400;
	font-size: 17px;
	color: #212121;
}
a {
	color: inherit;
}
//==============================================
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}
.logo {
	display: flex;
	align-items: center;
	&__img {
		max-width: 105px;
	}
	&__slogan {
		max-width: 128px;
		font-size: 12px;
		line-height: 1.17;
		margin-left: 20px;
		@media screen and (max-width: $bp-425-max) {
			display: none;
		}
	}
}
.title {
	font-family: $bebasNeue;
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
	text-transform: uppercase;
}

.btn-primary {
	background: #00bf96;
	box-shadow: 0px 10px 20px rgba(0, 191, 150, 0.3);
	border-radius: 25px;
	letter-spacing: 0.02em;
	line-height: 45px;
}
.btn-secondary {
	background: #1a3d8a;
	border-radius: 25px;
	letter-spacing: 0.02em;
	line-height: 45px;
}
//==============================================
.page {
	flex: 1 1 auto;
}
//===============================================
.header {
	color: #ffffff;
	background-image: url(../img/header/header-bc.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	&__menu {
		display: flex;
		padding-top: 10px;
		padding-bottom: 10px;
		@media screen and (max-width: $bp-425-max) {
			justify-content: space-between;
		}
	}
	&__brand {
		padding-right: 178px;
		@media screen and (max-width: $bp-1200-max) {
			padding-right: 80px;
		}
		@media screen and (max-width: $bp-1024-max) {
			padding-right: 220px;
		}
		@media screen and (max-width: $bp-768-max) {
			padding-right: 110px;
		}
		@media screen and (max-width: $bp-425-max) {
			padding-right: 70px;
		}
		@media screen and (max-width: $bp-375-max) {
			padding-right: 50px;
		}
	}
	&__nav {
		display: flex;
		align-items: center;
		margin-right: 88px;
		@media screen and (max-width: $bp-1024-max) {
			margin-right: 205px;
		}
		@media screen and (max-width: $bp-768-max) {
			margin-right: 75px;
		}
		@media screen and (max-width: $bp-375-max) {
			margin-right: 55px;
		}
		&-list {
			display: flex;
			z-index: 6;
			@media screen and (max-width: $bp-1024-max) {
				position: absolute;
				top: -200px;
				left: 0;
				flex-direction: column;
				width: 100%;
				text-align: center;
				transition: 0.5s all;
				z-index: 10;
				&--active {
					top: 62px;
				}
			}
		}
		&-item {
			line-height: 2.6;

			@media screen and (max-width: $bp-1024-max) {
				background-color: #00bf96;
				border: 1px solid #212121;
			}

			&:not(:last-child) {
				margin-right: 50px;
				@media screen and (max-width: $bp-1200-max) {
					margin-right: 30px;
				}
				@media screen and (max-width: $bp-1024-max) {
					margin-right: 0px;
				}
			}
			& a {
				display: block;
			}
		}
	}
	&__burger-btn {
		display: none;
		cursor: pointer;
		width: 50px;
		padding: 13px 0;
		background-color: transparent;
		margin-left: auto;
		z-index: 100;
		position: relative;
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		@media screen and (max-width: $bp-1024-max) {
			display: block;
		}
		& span {
			display: block;
			height: 5px;
			background-color: #ffffff;
			border-radius: 9px;
			opacity: 1;
			transition: 0.25s ease-in-out;
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 4px;
			left: 0;
			background-color: #ffffff;
			border-radius: 9px;
			transform: rotate(0deg);
			transition: 0.25s ease-in-out;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		&--open {
			& span {
				transform: translateX(-50px);
				opacity: 0;
			}
			&::before {
				top: 18px;
				transform: rotate(135deg);
			}
			&::after {
				top: 18px;
				transform: rotate(-135deg);
			}
		}
	}
	&__contacts {
		@media screen and (max-width: $bp-425-max) {
			display: none;
		}
		&-phone {
			display: flex;
			align-items: center;
			letter-spacing: 0.02em;
			& p {
			}
		}
		&-img {
			margin-left: 15px;
			@media screen and (max-width: $bp-425-max) {
				margin-left: 0px;
			}
		}
	}
	&__box {
		display: flex;
	}
	&__content {
		margin-top: 146px;
		@media screen and (max-width: $bp-768-max) {
			margin-top: 100px;
		}
		@media screen and (max-width: $bp-425-max) {
			margin-top: 70px;
			text-align: center;
		}
		@media screen and (max-width: $bp-375-max) {
			margin-top: 50px;
		}
	}
	&__content-title {
		font-family: $bebasNeue;
		font-weight: 700;
		font-size: 50px;
		line-height: 60px;
		max-width: 387px;
		text-transform: uppercase;
		@media screen and (max-width: $bp-425-max) {
			font-size: 40px;
			text-align: center;
			max-width: 390px;
			line-height: 54px;
		}
		@media screen and (max-width: $bp-375-max) {
			max-width: 360px;
			font-size: 34px;
		}
		@media screen and (max-width: $bp-320-max) {
			max-width: 300px;
		}
	}
	&__content-text {
		max-width: 357px;
		margin-top: 30px;
		line-height: 27px;
		@media screen and (max-width: $bp-425-max) {
			margin-top: 25px;
			line-height: 22px;
			text-align: center;
			max-width: 384px;
		}
		@media screen and (max-width: $bp-375-max) {
			max-width: 350px;
			font-size: 14px;
			margin-top: 20px;
		}
		@media screen and (max-width: $bp-320-max) {
			max-width: 300px;
		}
	}
	&__img {
		position: relative;
	}
	&__img-sputnik {
		position: absolute;
		top: -40px;
		left: 300px;
		width: 540px;
		z-index: 5;
	}
	&__img-earth {
		position: absolute;
		top: 137px;
		left: 170px;
		width: 430px;
		transition: transform ease;
		@media screen and (max-width: $bp-768-max) {
			top: 6px;
			left: 35px;
			width: 482px;
		}
		@media screen and (max-width: $bp-425-max) {
			display: none;
		}
	}
	&__img-moonone {
		position: absolute;
		top: 160px;
		left: 160px;
		transition: transform ease;
		@media screen and (max-width: $bp-768-max) {
			display: none;
		}
	}
	&__img-moontwo {
		position: absolute;
		top: 550px;
		left: 108px;
		transition: transform ease;
		@media screen and (max-width: $bp-768-max) {
			display: none;
		}
	}
	&__img-moonthree {
		position: absolute;
		top: 255px;
		left: 770px;
		transition: transform ease;
		@media screen and (max-width: $bp-1024-max) {
			display: none;
		}
	}
	&__img-moonfour {
		position: absolute;
		top: 435px;
		left: 675px;
		transition: transform ease;
		@media screen and (max-width: $bp-1024-max) {
			display: none;
		}
	}
	&__btn {
		display: inline-block;
		margin-top: 37px;
		margin-bottom: 215px;
		padding: 0px 52px 0px 52px;
		@media screen and (max-width: $bp-768-max) {
			margin-bottom: 130px;
		}
		@media screen and (max-width: $bp-425-max) {
			margin-bottom: 100px;
		}
	}
}

//========================================
.page {
	&__cases {
	}
}
.cases {
	padding-top: 70px;
	padding-bottom: 70px;
	&__title {
		text-align: center;
		margin-bottom: 20px;
		@media screen and (max-width: $bp-425-max) {
			font-size: 21px;
		}
	}
	&__subtitle {
		font-weight: 300;
		line-height: 27px;
		text-align: center;
		max-width: 990px;
		margin: 0 auto;
		@media screen and (max-width: 1250px) {
			max-width: 800px;
		}
		@media screen and (max-width: $bp-425-max) {
			font-size: 14px;
			line-height: 20px;
		}
	}
	&__items {
		margin-top: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 40px 270px;
		@media screen and (max-width: 1250px) {
			grid-template-columns: 1fr 1fr;
		}
		@media screen and (max-width: $bp-768-max) {
			gap: 40px 10px;
		}
		@media screen and (max-width: 475px) {
			grid-template-columns: 1fr;
			justify-items: center;
		}
	}
	&__item {
		@media screen and (max-width: 475px) {
			& img {
				height: 73px;
			}
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__item-img {
		margin-bottom: 30px;
	}
	&__item-text {
		width: 224px;
		line-height: 27px;
		@media screen and (max-width: 475px) {
			text-align: center;
			font-size: 16px;
		}
	}
}
//===========================================
.page {
	&__examples {
	}
}
.examples {
	background-color: #00bf96;
	padding-top: 70px;
	padding-bottom: 70px;
	@media screen and (max-width: 480px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&__title {
		color: #ffffff;
		@media screen and (max-width: 480px) {
			font-size: 21px;
			line-height: 28px;
		}
	}
	&__text {
		font-weight: 500;
		font-size: 19px;
		line-height: 27px;
		text-decoration-line: underline;
		color: #ffffff;
		@media screen and (max-width: 480px) {
			display: block;
			text-align: center;
		}
	}
}

.slick {
	background-color: #ffffff;
	box-shadow: 0px 4px 50px rgba(26, 61, 138, 0.15);
	margin-top: 50px;
	margin-bottom: 30px;
	padding-bottom: 50px;
	@media screen and (max-width: 480px) {
		margin-top: 30px;
		margin-bottom: 20px;
		padding-bottom: 30px;
	}
	&__wrapper {
		padding: 50px 50px 5px 50px;
		@media screen and (max-width: 480px) {
			padding: 16px 16px 25px 16px;
		}
	}
	&__item {
		overflow: hidden;
		display: flex;
		justify-content: flex-start;
		@media screen and (max-width: 480px) {
			display: block;
		}
	}
	&__title {
	}
	&__title-text {
		color: #1a3d8a;
		font-weight: 500;
		font-size: 20px;
		line-height: 27px;
		margin-bottom: 45px;
		@media screen and (max-width: 480px) {
			margin-bottom: 20px;
		}
	}
	&__title-img {
	}
	&__content {
		margin-left: 50px;
		@media screen and (max-width: 480px) {
			margin-left: 0px;
			margin-top: 16px;
		}
	}
	&__content-subtitle {
		display: inline-block;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: 0.01em;
		padding-bottom: 20px;
		@media screen and (max-width: 480px) {
			font-size: 14px;
			padding-bottom: 12px;
		}
	}
	&__content-pretext {
		font-weight: 300;
		font-size: 20px;
		line-height: 27px;
		padding-bottom: 50px;
		@media screen and (max-width: 480px) {
			padding-bottom: 20px;
			font-size: 16px;
			line-height: 24px;
		}
	}
	&__content-text {
		font-weight: 300;
		line-height: 27px;
		@media screen and (max-width: 480px) {
			font-size: 14px;
			line-height: 21px;
		}
	}
	&__buttons {
		display: flex;
		align-items: center;
		@media screen and (max-width: 480px) {
			justify-content: center;
		}
	}
	&__arrow {
		position: relative;
		@media screen and (max-width: 480px) {
			display: none;
		}
	}
	&__arrow-left {
		position: absolute;
		top: 3px;
		left: 50px;
		background-color: inherit;
	}
	&__number {
		text-align: center;
		padding-left: 180px;
		padding-right: 188px;
		&-change {
			color: #333333;
			font-weight: 500;
			font-size: 19px;
			line-height: 27px;
		}
	}
	&__arrow-right {
		position: absolute;
		top: 3px;
		left: 300px;
		background-color: inherit;
	}
	&__btn {
		padding: 0 55px 0 55px;
		color: #ffffff;
		font-weight: 400;
		font-size: 17px;
		transition: all 0.3s ease-in;
		&:hover {
			background-color: #4074e4;
		}
	}
	&-disabled path {
		fill: #c4c4c4;
	}
	&-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		& li {
			margin-right: 12px;
		}
		& li button {
			font-size: 0;
			width: 16px;
			height: 16px;
			background-color: rgba(255, 255, 255, 0.5);
			border-radius: 50%;
		}
		& li.slick-active button {
			background-color: #ffffff;
		}
	}
}

#slider-dots {
	display: none;
	@media screen and (max-width: 480px) {
		display: block;
		margin-bottom: 40px;
	}
}
//======================================================
.page {
	&__who {
	}
}
.who {
	padding-top: 80px;
	padding-bottom: 70px;
	&__title {
		text-align: center;
		margin-bottom: 20px;
		@media screen and (max-width: 480px) {
			font-size: 21px;
			line-height: 28px;
		}
	}
	&__text {
		text-align: center;
		padding-bottom: 50px;
		max-width: 996px;
		margin: 0 auto;
		@media screen and (max-width: 480px) {
			font-size: 14px;
		}
	}
	&__inner {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 30px 135px;
		@media screen and (max-width: $bp-1200-max) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
		}
		@media screen and (max-width: $bp-768-max) {
			gap: 30px 10px;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		@media screen and (max-width: $bp-768-max) {
			flex-direction: column;
		}
	}
	&__item-image {
		margin-right: 30px;
		@media screen and (max-width: $bp-768-max) {
			margin-right: 0px;
			padding-bottom: 20px;
		}
	}
	&__item-text {
		font-weight: 400;
		font-size: 19px;
		line-height: 25px;
		max-width: 190px;
		@media screen and (max-width: $bp-768-max) {
			text-align: center;
			font-size: 16px;
		}
	}
}
//============================================================
.page {
	&__order {
	}
}
.order {
	background-color: #1a3d8a;
	padding-top: 30px;
	padding-bottom: 70px;
	&__innder {
		display: flex;
	}
	&__content {
		margin-top: 137px;
	}
	&__content-title {
		color: #ffffff;
		margin-bottom: 29px;
	}
	&__content-text {
		line-height: 27px;
		color: #ffffff;
		margin-bottom: 35px;
		max-width: 387px;
	}
	&__content-btn {
		padding: 0 71px;
	}
	&__steps {
	}
	&__steps-right {
	}
	&__steps-title {
	}
	&__steps-text {
	}
	&__steps-left {
	}
}
